* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Rubik:ital,wght@0,500;1,500&display=swap");

// font-family: "DM Sans", sans-serif;

.App {
  max-width: 1440px;
  width: 100%;
  background: #12192c;
  padding: 35px 135px;
  margin: auto;

  & > .header {
    position: relative;
    & > .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: "Rubik", sans-serif;
        & > img {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }
      & > ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        & > li {
          & > a {
            font-family: "DM Sans", sans-serif;
            text-decoration: none;
            color: white;
            margin-right: 60px;
            font-size: 14px;
            &:hover {
              color: #2563eb;
            }
          }
        }
        & > button {
          width: 132px;
          height: 42px;
          border: none;
          outline: none;
          border-radius: 5px;
          background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
          color: white;
          font-family: "DM Sans", sans-serif;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    & > .content {
      font-family: "DM Sans", sans-serif;
      width: 47%;
      margin-top: 150px;
      & > h1 {
        font-weight: 700;
        font-size: 58px;
        line-height: 84px;
        background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
      }
      & > p {
        margin: 25px 0 30px;
        font-size: 15px;
        color: #e5e7eb;
        line-height: 30px;
      }
      & > button {
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        &:hover {
          cursor: pointer;
        }
        &:nth-child(3) {
          background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
          color: white;
          outline: none;
          border: none;
          width: 135px;
          height: 60px;
          border-radius: 6px;
        }
        &:nth-child(4) {
          color: white;
          background: transparent;
          border: none;
          outline: none;
          margin-left: 30px;
          & > i {
            font-size: 27px;
            padding-right: 20px;
          }
        }
      }
    }
    & > img {
      position: absolute;
      right: -100px;
      top: 45px;
      width: 660px;
      height: 630px;
    }
  }

  & > .services {
    font-family: "DM Sans", sans-serif;
    color: white;
    text-align: center;
    margin-top: 240px;
    & > h1 {
      font-size: 42px;
      font-weight: 700;
      line-height: 55px;
    }
    & > p {
      width: 48%;
      margin: auto;
      margin-top: 25px;
    }
    & > .cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 20px;
      & > .card {
        border-radius: 36px;
        width: 366px;
        height: 336px;
        padding: 35px 20px;
        margin: 20px 10px;
        background: linear-gradient(
            97.12deg,
            rgba(255, 255, 255, 0.08) -3.52%,
            rgba(255, 255, 255, 0.07) 100.35%
          ),
          linear-gradient(
            268.12deg,
            rgba(254, 254, 255, 0.032) -11.04%,
            rgba(255, 255, 255, 0.018) 104.89%
          );
        &:hover {
          transition: ease-in-out 700ms;
          transform: scale(1.05);
        }
        & > img {
          border-radius: 50%;
          width: 74px;
          height: 74px;
        }
        & > h2 {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          margin: 16px 0 18px;
        }
        & > p {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          margin-bottom: 20px;
        }
        & > a {
          font-size: 16px;
          line-height: 26px;
          text-decoration: none;
          color: white;
          &:hover {
            color: #2563eb;
          }
        }
      }
    }
  }

  & > .content {
    margin-top: 110px;
    & > .top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      & > img {
        width: 588px;
        height: 588px;
      }
      & > .t_content {
        color: white;
        font-family: "DM Sans", sans-serif;
        & > p {
          &:nth-child(1) {
            font-size: 42px;
          }
          &:nth-child(2) {
            font-size: 16px;
            margin: 30px 0;
          }
        }
        & > button {
          width: 100px;
          height: 31px;
          background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
          outline: none;
          border: none;
          color: white;
          border-radius: 4px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  & > .aboutTeam {
    margin-top: 100px;
    color: white;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    & > h1 {
      font-size: 42px;
    }
    & > p {
      width: 44%;
      margin: 25px auto;
    }
    & > .workers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 10px;
      & > .worker {
        border-radius: 34px;
        width: 270px;
        height: 266px;
        background: linear-gradient(
            97.12deg,
            rgba(255, 255, 255, 0.08) -3.52%,
            rgba(255, 255, 255, 0.07) 100.35%
          ),
          linear-gradient(
            268.12deg,
            rgba(254, 254, 255, 0.032) -11.04%,
            rgba(255, 255, 255, 0.018) 104.89%
          );
        padding: 30px 45px;
        & > img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
        }
        & > h3 {
          margin: 10px 0 7px;
          font-size: 28px;
          line-height: 36px;
        }
        & > p {
          font-size: 14px;
          letter-spacing: 3%;
          text-transform: uppercase;
        }
        & > .icons {
          margin-top: 12px;
          & > a {
            & > i {
              margin: 0 6px;
              color: #3fa4f1;
              font-size: 18px;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  & > .news {
    border-radius: 34px;
    color: white;
    font-family: "DM Sans";
    text-align: center;
    margin-top: 120px;
    padding: 50px 0 38px;
    background: linear-gradient(
        180deg,
        rgba(254, 254, 255, 0.0145) 0%,
        rgba(255, 255, 255, 0.02) 100%
      ),
      linear-gradient(
        97.12deg,
        rgba(255, 255, 255, 0.08) -3.52%,
        rgba(255, 255, 255, 0.07) 100.35%
      );
    & > h1 {
      font-size: 42px;
      font-weight: 500;
    }
    & > p {
      margin: 12px 0 30px;
      font-weight: 100;
    }
    & > form {
      position: relative;
      & > input {
        width: 860px;
        height: 80px;
        padding-left: 44px;
        line-height: 30px;
        outline: none;
        border: none;
        background: linear-gradient(
          180deg,
          rgba(254, 254, 255, 0.0348) 0%,
          rgba(255, 255, 255, 0.048) 100%
        );
        color: white;
        font-size: 18px;
        border-radius: 70px;
        font-family: "Rubik", sans-serif;
      }
      & > button {
        width: 196px;
        height: 60px;
        opacity: 70%;
        border-radius: 70px;
        font-family: "Rubik", sans-serif;
        background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
        font-size: 20px;
        color: white;
        border: none;
        outline: none;
        position: absolute;
        right: 165px;
        top: 10px;
        &:hover {
          cursor: pointer;
        }
        & > i {
          padding-right: 8px;
        }
      }
    }
  }
  
  & > .footer {
    margin-top: 98px;
    & > .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > .section_1 {
        & > ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: white;
          & > .social_media {
            color: white;
            text-decoration: none;
            & > i {
              border-radius: 50%;
              width: 32.2px;
              height: 32.2px;
              line-height: 32.2px;
              padding-left: 8px;
              margin-right: 10px;
              background: linear-gradient(
                  180deg,
                  rgba(254, 254, 255, 0.0145) 0%,
                  rgba(255, 255, 255, 0.02) 100%
                ),
                linear-gradient(
                  97.12deg,
                  rgba(255, 255, 255, 0.08) -3.52%,
                  rgba(255, 255, 255, 0.07) 100.35%
                );
              &:hover {
                cursor: pointer;
                background: linear-gradient(
                  90.35deg,
                  #2563eb 0.36%,
                  #d946ef 201.02%
                );
              }
            }
          }
          & > li {
            margin: 10px 0;
            & > i {
              padding-right: 12px;
            }
            & > .logo {
              font-family: "Rubik", sans-serif;
              font-size: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              color: white;
              text-decoration: none;
              &::after {
                content: "Zone.";
              }
              & > img {
                padding-right: 7px;
              }
            }
          }
        }
      }
      & > .section {
        & > ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & > li {
            margin: 10px 0;
            & > a {
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-family: "DM Sans", sans-serif;
              letter-spacing: 1%;
              font-size: 18px;
              &:hover {
                color: #2563eb;
              }
            }
          }
        }
      }
    }
    & > .privacy {
      margin-top: 32px;
      padding-top: 33px;
      border-top: 1px solid #969696;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: white;
      & > p {
        font-family: "Rubik", sans-serif;
        font-size: 14px;
      }
      & > ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > li {
          & > a {
            text-decoration: none;
            font-family: "DM Sans", sans-serif;
            color: white;
            font-size: 14px;
            margin-right: 53px;
            &:hover {
              color: #2563eb;
            }
          }
        }
      }
    }
  }
}
